<center><h1 style="font-family: helvetica">Index of Posts</h1></center>

<% @posts.each do |p| %>
   <div class="header"> 
   <a href="/posts/<%= p.id %>"> <%= p.title %> </a>
   </div>
  
   
<% end %>
 </br>
    <center>
   <a href="/posts/new">Create new post</a>
    </center>