.header {
  font-family: helvetica;
  background-color: #FFF8DC;
  border: 2px solid gray;
  border-radius: 25px;
  padding-left: 1em;
}

.body {
  font-family: helvetica;
  background-color: #F5F5DC;
  border: 2px solid white;
  border-radius: 10px;
  padding-left: 1em;
}

.title {
  font-family: helvetica;
  background-color: #F5F5DC;
  border: 2px solid white;
  border-radius: 10px;
  padding-left: 1em;
}