.header {
  font-family: helvetica;
  color: #808080;
  padding-left: 1em;
}

.body {
  font-family: helvetica;
  color: #808080;
  padding-left: 1em;
}

.title {
  font-family: helvetica;
  background-color: #D3D3D3;
  border: 2px solid black;
  border-radius: 5px;
  padding-left: 1em;
}